 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">En iyi elektronik ürünleri en uygun fiyatlarla bulabileceğiniz alışveriş sitemize hoş geldiniz! Geniş ürün yelpazemiz, güvenilir alışveriş deneyimimiz ve hızlı teslimat seçeneklerimizle her zaman yanınızdayız. İhtiyaçlarınıza uygun, kaliteli ve dayanıklı elektronik cihazları sizler için bir araya getirdik.</p>
            </div>
        </div>
    </header>